# Pandas
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the python programming language

# Pandas Series
A Pandas Series is like a column in a table it is a 1-D array holding data of any type.

# Importing Pandas

In [4]:
import numpy as np  
# pandas is created over numpy so its recommended to import numpy as well
import pandas as pd

# Series from lists

In [ ]:
# string 
country = ['India','USA','Nepal','Srilanka']

pd.Series(country)  # Series is an object

# whenever you create a series two components are 
# atleast created - index and value. 
# pandas 90% considers string as object

0       India
1         USA
2       Nepal
3    Srilanka
dtype: object

In [ ]:
# integers
runs =[98,87,96,92,99,100]
pd.Series(runs, dtype='int32')

0     98
1     87
2     96
3     92
4     99
5    100
dtype: int32

In [11]:
# Custom index
subject = ['English','Science','Hindi','PE']
marks = [98,97,86,91]

pd.Series(marks,index=subject)

English    98
Science    97
Hindi      86
PE         91
dtype: int64

In [13]:
# setting name
# Custom index
subject = ['English','Science','Hindi','PE']
marks = [98,97,86,91]

marks = pd.Series(marks,index=subject,name="Class 10")
marks

English    98
Science    97
Hindi      86
PE         91
Name: Class 10, dtype: int64

# Series from dictionary

In [16]:
marks = {
    'english':98,
    'science':99,
    'hindi':92,
    'PE':91
}

marks_series = pd.Series(marks,name="Using Dictionary")
marks_series

english    98
science    99
hindi      92
PE         91
Name: Using Dictionary, dtype: int64