# Variables
are the funcdamental elements in programming used to store data that can be referenced and manipulated in a program.In python variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space.Then declaration happens automatically when you assign a value to a variable

In [1]:
a=200

In [2]:
# Declaring and Assigning Variables 

age = 32
height = 5.11
name="Parth"
is_student = True

# Printing the variables

print("age : ",age)
print("Height: ",height)
print("Name: ",name)

age :  32
Height:  5.11
Name:  Parth

In [3]:
# Naming Conventions
# Variable names should be descriptive
# They must start with letter or an '_' and contain letter,numbers and underscores
# variable names are case sensitive

# valid variable names
first_name = "Parth"
last_name = "Khakre"

In [4]:
# Invalid variable name
# 2age = 30
# first-name = "Parth"
# @name = "larry"

In [5]:
# Understanding Variable types
# python is dynamically typed,type of the variable is detemined at runtime

age = 23     # int
height = 6.1 # float
name="Parth" # string
is_student = True # boolean

print(type(age))

<class 'int'>

In [6]:
# Type Checking and Conversion
type(height)

float

In [7]:
age=23
print(type(age))

# Type conversion
age_str = str(age) 
# converted the int to string a new variable 
# created when we do type conversion

print(age_str)
print(type(age_str))

<class 'int'>
23
<class 'str'>

In [8]:
age="23"
print(type(int(age)))

# numeric string can be converted into a integer type

<class 'int'>

In [9]:
name = "krish"
print(type(int(name))) 
# we cannot convert a alphabetic string to a numeric value

ValueError: invalid literal for int() with base 10: 'krish'

In [13]:
height=5.11
type(height)

int(height) 
# integer conversion took the floor value

float(int(height))
# conversion of float to int result in loss of data

5.0

In [16]:
# Dynamic Typing
# Python allows the type of a variable to change as the program executes
 
var=10 # int
print(var,type(var))

var="Hello" # string
print(var,type(var))

var = 3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [18]:
# input
age=input("What is the age")
print(age,type(age))

# string is the universal format in the python
age = int(input("Enter age: "))
print(age,type(age))

23 <class 'str'>
23 <class 'int'>

In [21]:
# Simple Calculator

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:",sum)
print("difference: ",difference)
print("product: ",product)
print("Quotient: ",quotient)

Sum: 18.7
difference:  0.3000000000000007
product:  87.39999999999999
Quotient:  1.032608695652174