# Strings 
text in programming is known as string.  

In Python specifically, String are a sequence of unicode characters 

# Why UNICODE NOT ASCII
ASCII:
ASCII is a character encoding standard that uses 7 bits to represent 128 characters (English letters, digits, symbols). It supports only basic English text.

Unicode:
Unicode is a universal character encoding system that represents characters from almost all languages (English, Hindi, Chinese, emojis, etc.). It supports millions of characters.

Why Python chose Unicode:
Python chose Unicode to support global languages by default, avoid encoding issues, and make string handling simple and consistent across different regions and platforms.

* Creating strings 
* Accessing Strings
* Adding Chars to strings
* Editing Strings
* Delete Strings
* Operations on Strings
* String Functions

# Creating string

In [ ]:
# ways to create string
s = 'hello'
s = "hello"
# Reason for double and single 
# 'It's raining outside'   -- this creates error
# "It's raining outside"

# Multiline strings -- Example if you create a blogging website user can enter long string
s = '''
    Hello
    '''
print(s)

    Hello

# Accessing Substrings from a string

In [ ]:
# positive indexing - python internally assign 0 index to the first character of the string
s = "Hello world"
print(s[0])
print(s[1])
print(s[2])
# if you try to access any index that not part of string it gives a stack overflow error

H
e
l

In [ ]:
# Negative indexing - python allows negative indexing it assigns the last index as -1 
print(s[-1])
print(s[-2])

# Benefit - Without knowing you can find the last and second last character

d
l

In [24]:
# Slicing - technique of extracting portion(subset) of element
s = 'Hello world'
print(s[0:5])

# s[starting:ending+1:step_size]
print(s[2:3])

Hello
l

In [ ]:
print(s[2:]) # here we are starting from 2 and go no till the string ends
print(s[0:]) # from 0 to end of the string
print(s[:3]) # from 0 to index 2
print(s[0:6:2]) # slicing with step size 2

r = s[::-1] # reversing a string
print(r)

print(s[6:0:-2]) # when you put step size negative starting value must be bigger

llo world
Hello world
Hlo
dlrow olleH
wol

In [30]:
s = 'Hello world'

# print the world using negative indexing
print(s[-5:])
print(s[-1:-6:-1])

world
dlrow

# Editing and Deleting in strings

In [ ]:
s = 'hello world'
# s[0] = 'H' -- this throws an error as "Python string are immuatable "

In [ ]:
# Deleting a string 
s = 'hello world'
del s 
print(s) # Error as s is not defined

# Operations on strings

In [36]:
# Arithematic Operations (+,*) are supported by python
print('delhi'+' '+'mumbai')  # Concatenation

delhi mumbai

In [39]:
print("delhi "*5) # it prints string 5 times

delhi delhi delhi delhi delhi

In [40]:
# Relational Operator
# ==,>,<,>=,<=,!= all works with string

'delhi' == 'delhi'

True

In [41]:
'mumbai' != 'pune'

True

In [ ]:
'mumbai' > 'pune'
# Here the comparison is lexicographically perform
# m's ascii value is less than p's hence it returns false

False

In [44]:
# Logical Operator
'hello' and 'world'

'world'

In [45]:
'hello' or 'world'

'hello'

In [47]:
# Internally Python considers string as truthy value 
# Also empty string is consider as false

'' and 'world'  # '' is printed as in 'and' both values must be true

''

In [48]:

'' or 'world'   # 'world' is printed as 'world is truthy value and 'or' return true if available

'world'

In [3]:
s = 'Hello world' # strings in python are iterable

for i in s:
    print(i)

H
e
l
l
o

w
o
r
l
d

In [4]:
for i in "Delhi":
    print("Pune")

Pune
Pune
Pune
Pune
Pune

In [ ]:
# Membership Operators works with string
# 1. in 
# 2. not in

'D' in 'delhi'

False

In [55]:
'd' not in 'Delhi'

True

# Common functions

In [ ]:
s = 'Hello World'
len(s) # len() counts the length of the string

11

In [ ]:
max(s) # return the world with maximum lexicographical value

'r'

In [ ]:
min(s) # return the world with minimum lexicographical value

' '

In [63]:
sorted(s) # return a lexicographically sorted array of characters

sorted(s,reverse=True) # Sorts array in reverse order

['r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'W', 'H', ' ']

# Special Functions Related to strings

In [ ]:
s = 'hello world'
# Capitalize/Title/Upper/Lower/Swapcase

s.capitalize() # it capitalize the first character of the string

'Hello world'

In [68]:
s.title() # title is capitalize first character after a space

'Hello World'

In [69]:
s.upper() # converted all the character to uppercase

'HELLO WORLD'

In [70]:
s.lower() # converts all the characters to lower case

'hello world'

In [71]:
"hElLo wOrLD".swapcase() # it capitalizes the lowercase and make capital lowercase

'HeLlO WoRld'

In [ ]:
# count - helps in counting frequency of the substring in a string
s = "my name is nitish my"
s.count("i")
s.count("my")

2

In [76]:
# find() it finds the starting index of the substring
s = "my name is nitish my"
s.find('is')

# if the provided input string is not present then it returns -1

8

In [ ]:
# index() - it is similar to find() just the difference is if the provided input is not present then it through an error
s.index("is")
s.index('x') # error is thrown as it is not part of the string

8

In [82]:
# endswith()- method that checks if a string ends with a specified suffix and returns True if it does, otherwise returns False.
a = "Hello How are you"
a.endswith('you')
a.endswith('im')

False

In [84]:
# startswith - method that checks if a string starts with a specified suffix and returns True if it does, otherwise returns False.
a.startswith("Hello")

True

In [ ]:
# format() -  is used to format strings by inserting values into placeholders defined by curly braces {}

name = "Larry";
day = "monday";
"Hey {} What's the Plan for {}".format(name,day)

"Hey larry What's the Plan for monday"

In [ ]:
# isalnum() - check whether a string contains only lowercase letters and no spaces, special characters, or symbols, the method returns True
"nitish".isalnum()
"nitish12".isalnum()
"nitish%".isalnum()

False

In [ ]:
# isalpha() - checks whether the string is only alphabetic no numbers allowed
"nitish".isalpha()    # true
"nitish12".isalpha()  # false

False

In [94]:
# isdigit() - checks whether given string consist of only digit no alphabetic or symbolic character is present
s = "123"
v = "hey123"

s.isdigit()
v.isdigit()

False

In [ ]:
# s.isidentifier() - returns true if identifier is valid  
"1Nam".isidentifier()
"Num1".isidentifier()

False

In [ ]:
# split(parameter_to_split) - returns list of all the substring in the string based on the parameter its space by default
a = "Hey buddy hows going"
a.split()
print(a.split())

# you can split a string based on some character
b = "Hello World owww What a Owl"
b.split('o') # split based on the character 'o'

['Hey', 'buddy', 'hows', 'going']

['Hell', ' W', 'rld ', 'www What a Owl']

In [ ]:
# join() - it is reverse of split() its take list as input and provide the combine form depending on the paramter
" ".join(['Hey', 'buddy', 'hows', 'going'])

'Hey-buddy-hows-going'

In [ ]:
# replace() - swaps the substring with passed string parameter
"Hey buddy hows going".replace('buddy',"nitish")

'Hey nitish hows going'

In [ ]:
# strip() - removes the extra spaces very useful in web developement
'nitish                 '.strip()

'nitish'

2