# Tuples
is similar to list the only difference in tuple and list is that we cannot change the elements of tuple once assigned whereas in list we can change

In short, a tuple is an immutable list. A tuple cannot be change in any ways once it is created.

> Characteristics:
* Ordered
* Unchangeable 
* Allow duplicates

# Creating and Types

In [2]:
# Creating tuple
a = (1,2,3,4)
print(a)

# Empty tuple
t1 = ()
print(t1)

# Create a tuple with one element - make sure to add a comma at the end
t2 = (1,)
print(t2)

# Homogeneous tuple
t3 = (1,2,3,4,5)
print(t3)

# Heterogeneous Tuple
t4 = ('Hello',1,9.1,[12,True])
print(t4)

# 2D Tuple
t5 = ((1,2),('Hello',))
print(t5)

# using type conversion
t6 = tuple('Hello') # type conversion only works on iterable items
print(t6)

# below code would give error as data is not iterable
# t7 = tuple(7)
# print(t7)

(1, 2, 3, 4)
()
(1,)
(1, 2, 3, 4, 5)
('Hello', 1, 9.1, [12, True])
((1, 2), ('Hello',))
('H', 'e', 'l', 'l', 'o')

# Accessing items
* Indexing
* Slicing

In [3]:
print(t3)

# positive indexing
t3[0]
t3[4]

# Negative indexing
t3[-1]
t3[-2]

# Slicing
t3[:]
t3[::2] # t3[start:end+1:step]
t3[::-1]

(1, 2, 3, 4, 5)

(5, 4, 3, 2, 1)

# Editing items

In [ ]:
t3[0] = 100
print(t3)
# Tuples are immutable just like string in nature

(1, 2, 3, 4, 5)

# Adding items

In [ ]:
print(t3)
# Adding items in tuple is not possible

(1, 2, 3, 4, 5)

# Deleting items

In [ ]:
print(t3)
del t3  

# you can delete the tuple using del keyword but deleting a 
# portion of tuple is not possible 
del t3[-1]

(1, 2, 3, 4, 5)

# Operations on tuples

In [17]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2) # + concatenates two tuple
print(t1*2)    # * repeates the tuple

# membership 
print(1 in t1)
print(5 not in t2)

# iteration
for i in t2:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4)
True
False
5
6
7
8

# Tuple Functions

In [27]:
# lens/sum/min/max/sorted
t1 = (13,43,25,69,17,28,9)

len(t1) # length of the list 
sum(t1) # sum of the list
min(t1) # minimum value in the list
max(t1) # maximum value in the list
sorted(t1) # it returns an sorted list
sorted(t1,reverse=True) # reverse attribute return the descending list

[69, 43, 28, 25, 17, 13, 9]

In [26]:
t1.index(25) # returns the first occurence of the value 
t1.count(30) # return the total number of time provided value is present if not present then return 0

0

# Difference between Lists and Tuples
* Syntax - List[] where as Tuple()
* Mutability - List are mutable where as Tuple are immutable
* Speed - List[] are slow where as Tuple are fast

In [31]:
import time

L = list(range(10000))
T = tuple(range(10000))

start = time.time()
for i in L:
    i*5
print('list item',time.time() - start)
    
start = time.time()
for i in T:
    i*5
print('Tuple item',time.time()-start)

list item 0.0013189315795898438
Tuple item 0.001046895980834961

* Memory - List are take more space but tuple take less space

In [35]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('size of list',sys.getsizeof(L))
print('size of tuple',sys.getsizeof(T))

# Simply you can say that the mautable data type take more space than immutable datatype

size of list 8056
size of tuple 8040

* Built in functions are more in list than Tuple
* List are Error prone where as Tuple are less to have error

In [37]:
a = [1,2,3,4]
b = a 

a.append(9)

print(a)
print(b)
# 9 Got added to both list as well as tuple

[1, 2, 3, 4, 9]
[1, 2, 3, 4, 9]

In [40]:
a = (1,2,3,4)
b = a

a = a + (5,)
print(a)
print(b)
# 5 got added only in a not in b

(1, 2, 3, 4, 5)
(1, 2, 3, 4)

# Why Use Tuple
* Only reason why we need Tuple and List is immutability thats the reason why we created list and tuple

# Special Syntax

In [43]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b= (1,2,3)
print(a,b)
# An error is thrown as total number of variable on both size must be same

In [ ]:
# Swapping value in python
a = 1 
b = 3
a,b = b,a

In [ ]:
# Packing & Unpacking tuple
a,b,*other = (1,2,3,4,5)
print(a,b)
print(other)

1 2
[3, 4, 5]

In [59]:
# zipping tuples
a = (1,2,3,4,5)
b = (6,7,8,9,10)
c = (11,12,13,14,15)

# zip() function is used to designed pair/collection elements 
# from multiple iterable into single iterator of tuple.
# taks multiple iterable combine them multiple tuple iterable

x = zip(a,b,c)
print(tuple(x))
print(list(x))

((1, 6, 11), (2, 7, 12), (3, 8, 13), (4, 9, 14), (5, 10, 15))
[]