# Sets
* is an unordered collection of items. Every set element is unique(no duplicates) and must be immutable(cannot change). However a set itself is mutable We can add or remove items from it.
* Sets can also be used to perform mathematical set operations like union,intersection,symmetric difference etc

Characteristics:
* Unordered 
* Mutable
* No Duplicates
* Can't contain mutable datatype

# Creating sets

In [1]:
# Empty set
s = {} # It creates an dictionary not a set 
       # In order to create a set always use 
print(type(s))       
print(s)

s = set()
print(s)
print(type(s))

# 1D 
s1 = {1,2,3}
print(s1)

# 2D - set is not possible to create
# s2 = {{1,2,3},{4,5,6}} Unhashable type: 'set'

# Heterogeneous set
s = {1,'hello',True,9.23,(1,2,3)} # True is 1 in python and set cannont have duplicates hence True is not included in set
print(s) 
# Internally set use hashing to implement themselves

# Using type conversion to convert any type to set
s4 = set([1,2,3,4]) 
print(s4)

# Duplicates are not valid in sets
s5 = {1,1,1,1,2,2,2,2,3,3,3,4,4,4,4}
print(s5)

<class 'dict'>
{}
set()
<class 'set'>
{1, 2, 3}
{1, (1, 2, 3), 'hello', 9.23}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [2]:
a = {1,2,3}
b = {3,2,1}

print(a == b)

True

# Accessing Items

In [3]:
s1 = {1,2,3,4,5}

# set is a subscriptable object (object whose elements or attributes can be accessed using square brackets ([]) notation)
# s1[0]
# These means indexing and slicing is not possible for sets

# Editing Items

In [4]:
s = {1,2,3,4}
# As accessing is not possible hence editing is also not possible in sets

# Adding Items

In [5]:
s = {1,2,3,4}

# add(val)- adds the single value item into the set
s.add(5)
print(s)

# update(Iterable) - adds an iterable into the set
s.update([9,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 8, 9}

# Deleting items

In [6]:
# del - deletes an entire collection
s = {2,3,4,5,6}
print(s)
        # del set_name - it deletes an entire set
del s   # s gets deleted

{2, 3, 4, 5, 6}

In [7]:
# discard() - remove a particular element if item is not present nothing happens
s = {2,3,4,5,6}
print(s)
s.discard(5)
print(s)

{2, 3, 4, 5, 6}
{2, 3, 4, 6}

In [8]:
# remove() - removes a particular element if element is not present then it throws an error
s = {1,2,3,4,5}
print(s)
s.remove(3)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 4, 5}

In [9]:
# pop() - its randomly delete any item we have not control which item would be deleted
s = {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [10]:
# clear() - removes all the elements from the set
s = {1,2,3,4,5,6}
print(s)
s.clear()
print(s) # empty set

{1, 2, 3, 4, 5, 6}
set()

# Set Operation

In [11]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# Union(|) - unique value from both set combined in one
union = s1 | s2
print(union)

{1, 2, 3, 4, 5, 6, 7, 8}

In [12]:
# Intersection(&) - common value from both the set are combine in one set
intersection = s1 & s2
print(intersection)

{4, 5}

In [13]:
# Diffrence(-) : gives an set element that are present in one but not in other
difference = s1 - s2
print(difference)

{1, 2, 3}

In [14]:
# Symmetric Difference(^) - the set of elements that are in either set A or set B, but not in their intersection
sym_diff = s1 ^ s2
print(sym_diff)

{1, 2, 3, 6, 7, 8}

In [15]:
# Membership Test
print(1 in s1)
print(2 in s2)
print(3 not in s1)

True
False
False

In [16]:
# Iteration
for i in s1:
    print(i)

1
2
3
4
5

# Set Function

In [17]:
# len/sum/min/max/sorted
length = len(s1)
print(length)

total = sum(s1)
print(total)

minimum = min(s1)
print(minimum)

maximum = max(s1)
print(maximum)

set_sorted = sorted(s1)
print(set_sorted)

5
15
1
5
[1, 2, 3, 4, 5]

In [22]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union
x = s1.union(s2)
print(x)

# intersection,intersection_update
x = s1.intersection(s2)
print(x)
y = s1.intersection_update(s2) # s2 remains unchange and result gets stored in s1
print(y)

# difference,diffrence_update
x = s1.difference(s2)
print(x)
y = s1.difference_update(s2)
print(y)

# symmetric_difference,symmetric_diffrence_update
x = s1.symmetric_difference(s2)
print(x)
y = s1.symmetric_difference_update(s2)
print(y)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
None
set()
None
{4, 5, 6, 7, 8}
None

In [ ]:
# isdisjoint/issubset/issuperset

# disjoint - sets have no element in common
s1 = {1,2,3,4}
s2 = {4,5,6,7}

s1.isdisjoint(s2)

False

In [29]:
# subset = s1 is a superset then apart of s1 i.e s2 it subset

s1 = {1,2,3,4}
s2 = {4,5,6,7}
s1.issubset(s2)

False

In [34]:
# issuperset() 
s1 = {1,2,3,4}
s2 = {3,4}
s1.issuperset(s2)

True

In [35]:
# copy() creates an copy of set 
s1 = {1,2,3,4}
s2 = s1.copy()
print(id(s1))
print(id(s2))

1795556847264
1795556848160

# Frozenset
* Frozon set is just an immutable version of a python set object

In [37]:
# create a frozen set
fz = frozenset([1,2,3])
fz

frozenset({1, 2, 3})

In [ ]:
# all the set function works with frozenset
s1 = frozenset([1,2,3])
s2 = frozenset([3,4,5])

s1.union(s2) # similarly others work

# Note:
# All read function works 
# Write operations dont work

frozenset({1, 2, 3, 4, 5})

In [41]:
# 2D set is not allowed but a 2D frozenset is allowed
st = frozenset([1,2,3,frozenset([4,5]),9.8])
print(st)

frozenset({1, 2, 3, frozenset({4, 5}), 9.8})

# Set Comprehension

In [44]:
# {expression for item in iterable if condition}
s = {i for i in range(1,11) if i > 5}
print(s)

{6, 7, 8, 9, 10}