# Dictionary 
* is a collection of key values,used to stored data values like a map, which unlike other data types which hold only a single value as an element.

In some languages it is known as map or associative arrays

dict = {'name':'nitish','age':33,'gender':'male'}

Characteristics:
* Mutable
* Indexing has no meaning 
* keys cant be duplicated 
* keys cant be mutable items

In [115]:
# empty dictionary
dic = {}
print(dic)
print(type(dic))

{}
<class 'dict'>

In [116]:
# 1D dictionary 
dic1 = {'name':'nitish','age':21,'gender':'male'}
print(dic1)

# 2D dictionary - JSON format
dic2 = {'name':'nita',
        'age':19,
        'friend':{
            'name':'niti',
            'age':20
            }
        }
print(dic2)
print(type(dic2))

# creating dictionary using dict function
dic3 = dict([('name','nitas'),('age',20)])

# duplicate keys are not allowed in dictionary if aded then last key is assigned
d4 = {
    'name':'nitish',
    'name':'ratan'
}
print(d4)

# mutable items cannot be added as key
d5 = {
    'name':'ratan',
#    [1,2,3]:'std'    unhashable type error
    (1,2,3):'CEO'
    }
print(d5)

{'name': 'nitish', 'age': 21, 'gender': 'male'}
{'name': 'nita', 'age': 19, 'friend': {'name': 'niti', 'age': 20}}
<class 'dict'>
{'name': 'ratan'}
{'name': 'ratan', (1, 2, 3): 'CEO'}

#  Accessing items 
* we dont have index in dictionary so access using index is not possible

In [117]:
my_dict = {'name':'Jack','age':26}
# my_dict[0] is not allowed 

# Inorder to access the items use [key]
my_dict['name']
my_dict['age']

# Another option to access items is .get() method
# my_dict.get(key) it returns value of the key we have passed 
name = my_dict.get('name')
print(name)

Jack

# Adding items(key:value) in dictionary 
* As dictionary are mutable hence we can add

In [118]:
print(d4)
# dict_name['key'] = 'value'
d4[3] = 'Might Delete Later'
d4['gender'] = 'male'
d4['weight'] = 60
print(d4)

{'name': 'ratan'}
{'name': 'ratan', 3: 'Might Delete Later', 'gender': 'male', 'weight': 60}

# Remove key-value pair

In [119]:
d = {
    'name': 'ratan', 
    3: 'Might Delete Later', 
    'gender': 'male', 
    'weight': 60
    }

print(d)

# pop(key) - deletes the value with particular provided key 
d.pop(3)
print(d4)

# popitem - delete the last key:value pair 
d.popitem()
print(d)

# del - you clear delete complete dictionary or an particular item
del d['name']
print(d)

# clear - make the dictionary empty
d.clear()
print(d)

{'name': 'ratan', 3: 'Might Delete Later', 'gender': 'male', 'weight': 60}
{'name': 'ratan', 3: 'Might Delete Later', 'gender': 'male', 'weight': 60}
{'name': 'ratan', 'gender': 'male'}
{'gender': 'male'}
{}

In [120]:
# Accessing items in 2D dictionary
student = {
    'name':'larry',
    'age': 20,
    'subject':{
        'Web services': 'A+',
        'Microservice': 'A+'
    }
}

grade = student['subject']['Web services']
print(grade)

# Adding in 2D dictionary
student['subject']['Dev'] = 'A+'
print(student)

A+
{'name': 'larry', 'age': 20, 'subject': {'Web services': 'A+', 'Microservice': 'A+', 'Dev': 'A+'}}

# Editing key-value pair

In [121]:
student['subject']['Web services'] = 'Web'
print(student)

{'name': 'larry', 'age': 20, 'subject': {'Web services': 'Web', 'Microservice': 'A+', 'Dev': 'A+'}}

# Dictionary Operations
* Membership - here it works on key not on value
* Iterations - here also it iterates on keys

In [122]:
print(student)
'name' in student

{'name': 'larry', 'age': 20, 'subject': {'Web services': 'Web', 'Microservice': 'A+', 'Dev': 'A+'}}

True

In [123]:
d = {'name':'nitish','gender':'male','age':20}

for i in d:
    print(i) # i iterate on keys 
    
# To itearate on values we use dic_name[key]

print('--------------------------')
print("values of d are as below: ")
for i in d:
    print(i,":",d[i])

name
gender
age
--------------------------
values of d are as below:
name : nitish
gender : male
age : 20

# Dictionary Functions

In [124]:
# len - total number of key:value pair values
total_itams = len(d)
print(total_itams)
 
# stored - lexicographically sorting based on key
sorted_dic = sorted(d)
print(sorted_dic)

# min - returns the minimum key value lexicographically
min_val = min(d)
print(min_val)

# max - return the maximum key value lexicographically
max_val = max(d)
print(max_val)

3
['age', 'gender', 'name']
age
name

In [125]:
# items() - returns a list of tuples with key and values
item = d.items()
print(item)

# keys() - returns a list of keys
key = d.keys()
print(key)

# values() - returns a list of values
value = d.values()
print(value)

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 20)])
dict_keys(['name', 'gender', 'age'])
dict_values(['nitish', 'male', 20])

In [126]:
# Update use to permently update dictionary1 by dictionary2
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2) # change value of d1 using d2
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

# Dictionary Comprehension
* { key:value for vars in iterable }

In [127]:
# print first 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [128]:
# Convert the km from list to miles
distance = {'delhi':1000,'mumbai':2000,'bangalore':4000}
mile = {key:value*0.62 for (key,value) in distance.items()}
print(mile)

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 2480.0}

In [129]:
# using zip() create new dictionary
days = ['sunday','monday','tuesday','wednesday','thrusday','friday','saturday']
temp_c = [30.5,32.4,31.2,33.4,29,34.8,20]

dic = {key:val for (key,val) in zip(days,temp_c)}
print(dic)

{'sunday': 30.5, 'monday': 32.4, 'tuesday': 31.2, 'wednesday': 33.4, 'thrusday': 29, 'friday': 34.8, 'saturday': 20}

In [130]:
# using if condition create a new list having items with no stock as 0
product = {'phone':10,'laptop':0,'charger':5,'tablet':0}

available_items = {key:val for (key,val) in product.items() if val != 0} 
print(available_items)

{'phone': 10, 'charger': 5}

In [131]:
# Nested Comprehension
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}